/* Navbar styling */
.custom-navbar {
  padding: 8px 0 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
} /* Navigation links */
.nav-left .nav-link {
  color: #3951d0 !important;
  font-weight: 500;
  transition: 0.2s ease;
}
.nav-left .nav-link:hover {
  transform: scale(1.1);
} /* Vertical divider */
.vr {
  border-left: 2px solid #a8a8a8ff;
  height: 46px;
} /* Search Bar */
.search-bar {
  position: relative;
  width: 640px;
  align-self: center;
  max-width: 100%;
}
.search-input {
  padding-right: 40px;
  border: 1px solid #3951d0;
}
.search-icon-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #3951d0;
  font-size: 18px;
} /* Mobile behavior */
@media (max-width: 992px) {
  /* Center items when collapsed */
  .navbar-nav {
    text-align: center;
    margin-bottom: 10px;
  } /* Show divider only on desktop */
  .vr {
    display: none !important;
  }
  .search-bar {
    width: 100%;
    margin-top: 10px;
  }
}
