/* Bagus Ver */
.default-font {
   font-family: 'Outfit', 'Times New Roman', sans-serif;
}

.title-underline {
   border-bottom: solid #feb706;
}

h1 {
   color: #feb706;
}

.max-vh {
   height: 70vh;
}

.cf-width {
   width: 85%;
}

.w-content {
   width: 70%;
}

.h-title-footer {
   max-height: 15%;
   padding: 40px 0;
}

.h-footer-content {
   height: 70%;
}

.h-footer-copyRight {
   height: 10%;
}

.border-footer {
   border-top: solid #feb706;
}

.rm-underline {
   text-decoration: none;
}

.footer-gradient {
   position: relative;
   overflow: hidden;
}

/* Spotlight radial gradient */
.footer-gradient::before {
   content: "";
   position: absolute;
   inset: 0;
   pointer-events: none;

   background: radial-gradient(ellipse 90% 80% at center,
         rgba(255, 255, 255, 0.30) 0%,
         /* Cahaya paling terang */
         rgba(255, 255, 255, 0.18) 30%,
         /* Sedang */
         rgba(255, 255, 255, 0.06) 55%,
         /* Redup */
         rgba(0, 0, 0, 1) 100%
         /* Hilang ke hitam */
      );

   opacity: 1;
   z-index: 0;
}

/* Konten header tetap di atas spotlight */
.footer-gradient>* {
   position: relative;
   z-index: 2;
}