.bg-login {
   background-image: url('/login-page-orchestra-compressed.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.backdrop-blur-xl {
   backdrop-filter: blur(25px) !important;
}

.backdrop-blur-2xl {
   backdrop-filter: blur(40px) !important;
}

.backdrop-blur-3xl {
   backdrop-filter: blur(80px) !important;
}

.default-font {
   font-family: 'Outfit', 'Times New Roman', sans-serif;
}

/* Wrapper biar gampang atur */
.custom-checkbox .form-check-input {
   width: 20px;
   height: 20px;
   background-color: transparent;
   border: 2px solid #ccc;
   /* garis kotaknya */
   border-radius: 4px;
   /* kalau mau kotaknya agak rounded */
   cursor: pointer;
}

/* Warna saat dicentang */
.custom-checkbox .form-check-input:checked {
   background-color: #ffffff00;
   /* transparan */
   border-color: #fff;
   /* garis jadi putih */
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-width='3' d='M3 8l3 3 7-7'/%3e%3c/svg%3e");
   background-size: 14px;
   background-position: center;
}

/* Hilangkan shadow biru browser */
.custom-checkbox .form-check-input:focus {
   box-shadow: none;
   border-color: #fff;
}