.bg-login {
   background-image: url('/login-page/login-page-orchestra-compressed.jpg');
   background-size: cover;
   /* biar full */
   background-position: center;
   /* center align */
   background-repeat: no-repeat;
}

.default-font {
   font-family: 'Outfit', 'Times New Roman', sans-serif;
}

.backdrop-blur-xl {
   backdrop-filter: blur(25px) !important;
}

.backdrop-blur-2xl {
   backdrop-filter: blur(40px) !important;
}

.backdrop-blur-3xl {
   backdrop-filter: blur(80px) !important;
}