.bg-login {
  background-image: url('/login-page-orchestra-compressed.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backdrop-blur-xl {
  backdrop-filter: blur(25px) !important;
}

.backdrop-blur-2xl {
  backdrop-filter: blur(40px) !important;
}

.backdrop-blur-3xl {
  backdrop-filter: blur(80px) !important;
}

.default-font {
  font-family: 'Outfit', 'Times New Roman', sans-serif;
}