<div class="p-4 default-font bg-login d-flex min-vh-100 align-items-center justify-content-center">
   <!-- box for center form -->
   <div class="p-5 shadow-lg bg-black border-0 rounded-4" style="max-width: 350px; width: 100%;">

      <h4 class="mb-4 text-center text-white" style="font-weight: bolder">Admin Login</h4>
      <!-- box form -->
      <form>
         <div class="mb-3">
            <label class="form-label text-white">Username</label>
            <input #username type="text" class="form-control form-control-sm bg-dark border-dark text-white" />
         </div>

         <div class="mb-4">
            <label class="form-label text-white">Password</label>
            <input #password type="password" class="form-control form-control-sm bg-dark border-dark text-white" />
         </div>

         <div *ngIf="errorMessage" class="mb-2 text-danger">{{ errorMessage }}</div>

         <button (click)="login(username.value, password.value)" [disabled]="isLoading" class="btn w-100" style="background-color: #feb706; color: black">
            <span *ngIf="!isLoading">Login</span>
            <span *ngIf="isLoading">Signing in...</span>
         </button>
      </form>
   </div>
</div>