/* Bagus Ver */
.default-font {
   font-family: 'Outfit', 'Times New Roman', sans-serif;
}

.title-underline {
   border-bottom: solid #feb706;
}

h1 {
   color: #feb706;
}

.max-vh {
   height: auto;
   /* Ganti dari 80vh */
   min-height: 60vh;
   /* Beri minimum height */
}

.w-content {
   width: 80%;
}

.h-title-footer {
   max-height: 15%;
   padding: 40px 0;
}

.h-footer-content {
   height: 70%;
}

.footer-custom {
   height: 7rem;
   color: white;
   width: 65%;
   border-top: solid 2px rgb(115, 115, 115);
}

.border-footer {
   border-top: solid #feb706;
}

.rm-underline {
   text-decoration: none;
}

.footer-gradient {
   position: relative;
   overflow: hidden;
   isolation: isolate;
}

.footer-gradient::before {
   content: "";
   position: absolute;
   inset: 0;
   pointer-events: none;
   background: radial-gradient(ellipse 110% 90% at center,
         rgba(255, 255, 255, 0.25) 0%,
         rgba(255, 255, 255, 0.15) 25%,
         rgba(255, 255, 255, 0.05) 45%,
         rgba(0, 0, 0, 0.8) 80%,
         rgba(0, 0, 0, 1) 100%
         );
   opacity: 0.8;
   /* Kurangi opacity */
   z-index: -1;
   /* Pastikan di belakang konten */
}

/* Konten header tetap di atas spotlight */
.footer-gradient>* {
   position: relative;
   z-index: 2;
}

.footer-container {
   clear: both;
}