.bg-login {
  background-image: url('/login-page-orchestra-compressed.jpg');
  background-size: cover; /* biar full */
  background-position: center; /* center align */
  background-repeat: no-repeat;
}
